*{
  padding: 0;margin: 0;
  font-family: sans-serif;
}
.hero{
  background: url(5f502db3493dd8ceb6e82cb029973670.jpg);
}
.whitebg{
 background: white;
 color: black;
}
.orangeline{
  border-bottom: 1px solid orange;
  
  }
  .orangetopline{
    border-top: 1px solid orange;
    
    }
  
  .spaces{
    margin-left: 45%;
  }
  .whitebtn{
    padding: 10px 20px;
    background-color: white;
    color: red;
    margin-top: 5px;
  }
  .widecard{
    padding: 10px 20px;
    background-color: white;
    color: black;
    
  }
  .widecard img{
    width: 40px;
  }
  .whitebtn1{
    padding: 10px 20px;
    background-color: white;
    color: black;
    margin-top: 5px;
    border: 1px solid black;
  }
  .orangebtn{
    padding: 10px 20px;
    background-color: orangered;
    color: white;
    margin-top: 5px;
  }
  .leftbtn{
    margin-right: 20px;
  }
.navbar a{
    text-decoration: none;
    padding: 19px;
    color: white;
    
}
.navbar{
  padding: 32px 72px;
  color: white;
}
.column {
    float: left;
    width: 50%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }
  .whitetxt{
    color: white;
  }
  .smalltxt{
    font-size: smaller;
    font-weight: lighter;
  }
  .row{
      padding: 100px;
  }
  .herotext{
      
      color: antiquewhite;
      padding: 10px 20px;

    
  }
  .herotext h1{
    font-size: 72px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-height: 400px;
    max-width: 350px;

    margin: auto;
    text-align: left;
    padding: 10px;
    font-family: cursive;
    background-color: white;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  .online{
      background-color: white;
  }

  .card-columns{
      width: 0px;
  }
  .cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 50px;
    text-align: left;
    font-family: arial;
    background-color: white;
    float: right;
  
    
  }
  .cardpadding{
    padding: 20px;
  }
  .heading{
    text-align: center;
    
  }

  .heading1{
    
    padding: 50px;
  }
  button{
    float: right;
  }
  .heading2{
    padding: 60px;
  }
  .heading3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 50px;
    text-align: center;
    font-family: arial;
    background-color: white;
    float: right;
    }
    .heading4{
    
      text-align: Center;
    }
    .sicard{
      padding: 10px;
      border: 1px solid black;
      margin: 0px 16px;
    }
    .sicard img{
      width: 170px;
    }

    .column4{
      width: 25%;
      float: left;
    }

    .fcol_1 {
      float: left;
      width: 30%;
      color: black;
    }
    
    .fcol_2 {
      float: left;
      width: 17.5%;
    }
    .fcol_2 li{
        list-style: none;
        line-height: 1.6;
        color: black;
    }
    .fcol_1 li{
      list-style: none;
      line-height: 1.6;
      color: black;
  }
  .fcol_1 ul{
      padding: 3px 84px;
      color: black;
  }
    .social{
      padding: 5px 66px;
      color: black;
  }      
    
    
    .frow:after {
      content: "";
      display: table;
      clear: both;
      color: black;

    }
    .foot{
        padding:61px;
      font-size: smaller;
      }


      .finput {
          left: -25%;
          top: 44px;
          padding: 5px;
          width: 124px;
      }
      .fbutton {
          left: -75px;
          top: 44px;
          /* width: 17px; */
          padding: 7px;
      }
      .send{
        position: relative;
        top: 15px;
      }
